<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
            <h1 class="text-center">
	    <img class="img-maintitle" src="/img/mainstudiologo.png" style="width: 100%;">
                <!--<br>                <img class="img-maintitle" src="/img/mainstudiologo.png" style="width: 60%;">-->
	    <!--<img class="img-maintitle" src="/img/mainicon.png" style="width: 50%;">-->
            </h1>
              <!--{{site.title}}</h1>-->
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            <!--{{site.description}}-->
	<!--<br>카카오 이모티콘입니다.-->
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

           
            <!--{% if site.bbyu_kakao_emoticon_username != '' %}
              <a href="https://e.kakao.com/search?q=%EC%80%BC"><button class="btn btn-default btn-lg">
                   카카오 이모티콘 emoticon </button></a>
            {% endif %}
              <br>-->
				    {% if site.naverblog_username != '' %}
              <a href="https://naver.me/5ipWznka"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/naverblogsticker.png"  style="width:40px;height40px;">　　네이버 블로그 스티커　　</button></a>
              <!--<i class="fa fa-solid fa-star"></i>-->
            {% endif %}
              <br>
            {% if site.youtube_username != '' %}
              <a href="https://blog.naver.com/bbyustudio"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/wallpaper.png"  style="width:40px;height40px;">　　배경화면 다운로드　　</button></a>
            {% endif %}
              <br>
            {% if site.youtube_username != '' %}
              <a href="https://e.kakao.com/search?q=%EB%B3%B5%EC%8A%AC%EC%9D%B4%EB%84%A4"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/KakaoTk_Img.png"  style="width:40px;height40px;">　　카카오 이모티콘　　</button></a>
            {% endif %}
              <br>
            {% if site.naverblog_username != '' %}
              <a href="https://www.youtube.com/@bokseul.e?sub_confirmation=1"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/youtube.png"  style="width:40px;height40px;">　　Youtube　　</button></a>
              <!--<i class="fa fa-solid fa-star"></i>-->
            {% endif %}
              <br>
            {% if site.youtube_username != '' %}
              <a href="https://www.instagram.com/bokseul.e"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/insta.png"  style="width:40px;height40px;">　　Instagram　　</button></a>
            {% endif %}
              <br>
            {% if site.youtube_username != '' %}
              <a href="https://smartstore.naver.com/dailycutieshop/category/6847af0745614011917e0bbbe31642f0?cp=1"><button class="btn btn-default btn-lg">
                  <img class="img-maintitle" src="/img/goods.png"  style="width:40px;height40px;">　　복슬이 굿즈　　</button></a>
            {% endif %}
              <br>

              

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
